<h1 class="text text-center my-5">支局メンバー</h1>
<div class="row px-4">
  <% @members.each do |member| %>
  <div class="box p-2 col-4 col-md-3">
    <div class="inbox mx-auto pt-1 shadow rounded">
      <div class="img_smpl mx-auto mt-4 mb-2 shadow">
      </div>
      <h4 class="text text-center pt-1 pb-1">
        <%= link_to member.name, member_path(member) %>
      </h4>
      <p class="text text-center pt-2 pb-3">
        <%= member.created_at %>
      </p>
    </div>
  </div>
  <% end %>
</div>
